html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    border-bottom: 1px solid black;  
    font-weight: 100; 
}

.textBlock{
    margin-left: 20%;
    margin-right: 20%;
}

p, ol{
    font-size: 1.4rem;
    text-align: justify;
}

img{
    max-width: 80%;
    border: solid black 1px;
}

.centering{
    text-align: center;
}

.highlight{
    font-variant: small-caps;
    font-size: 1.75rem;
}

#welcomeScreen{
    display: block;
}

#experimentScreen, #practiceScreen, #intermissionScreen, #goodbyeScreen{
    display: none;
}

.counterDiv{
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    border-bottom: 1px solid black;
    background-color: beige;
}

button{
    font-size: 1.75rem;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    margin: 0.5rem 0;
}

.buttonDiv{
    text-align: center;
    border-bottom: 1px solid black;
    background-color: beige;
}

svg{
    width: 100%;
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid black;
    user-select: none;
}

footer{
    text-align: center;
    padding: 5rem 0;
    font-size: 1.25rem;
}

.criterion:hover{
    cursor: grab;
}

.criterion:active{
    cursor: grabbing;
}
